---
layout: splash
title:
---

<div class="pv3 cf">
    <div class="f3 lh-copy mb4 db-s flex-m flex-l flex-wrap">
        <div class="w-100 w-60-l">
            <p>
                I've worked at the intersection of earth metals and electricity for over 20 years, making many shapes of software, games, and art. He’s worked as a designer, engineer, and product manager at Mapbox, Slack, and Figma. 
            </p>

            <p>
                If you're curious, the <a href="/bio">longer story is over here</a>.
            </p>
            <p>
                I live in Carrboro, North Carolina with my family. I run, <a href="/sketchbook"
                    class="hover-gold">draw</a>, and <a href="/photography" class="hover-green">take photos</a> on very
                long walks.
            </p>

            <p>
                You can reach me through <a href="mailto:garrett@wonderful.tools">e-mail</a>
                or <a href="https://bsky.social/garrett">Bluesky</a>.
            </p>

            <p class="f6 cb black-50">
                Last updated {{ site.time | date: '%b %-d, %Y' }}
            </p>

            <!--
            These used to be displayed here, and I've got no problem if you wanted to poke around.
            <h3 class="">Projects & Writing</h3>

            <ul class="--list ma0 pa0 pb4 pb5-ns">
                {% assign sortedProjects = site.projects | sort: 'date' | reverse %}
                {% for proj in sortedProjects %}
                {% if proj.dontlist != true %}
                <li>
                    <span class="el-decorator">{{ proj.date | date: '%Y' }}</span>
                    {% if proj.externalLink %}
                    <a
                        href="{{ proj.externalLink }}"
                        target="_blank"
                        class="--externalLink"
                    >
                        {{ proj.title }}
                    </a>
                    {% else %}
                    <a href="{{ proj.url }}">
                        {{ proj.title }}
                    </a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        -->

        </div>

        <div class="w-100 w-40-l">
            <div class="el-splash-image tc">
                <img src="/images/site/garrett-miller.jpg" alt="Garrett Miller" class="br4 mw5-m mw6-l w-100-l dib" />
            </div>
        </div>
    </div>
</div>

<div class="mt6 mb4">
    <div class="h3 w3 partymonster center db" title="Whoa there, please don't pet the Monster">
        <!-- Party monster! -->
    </div>
</div>
