---
layout: default
title: Sketchbook
---

<div class="cf">
    <div class="fl w-100 w-25-l">

        {% for image in site.static_files %}
            {% if image.path contains '/images/sketchbook/' %}
                {% assign category = image.path | replace: '/images/sketchbook/', '' | split: '/' | first %}
               <div>{{ category }}</div>
            {% endif %}
        {% endfor %}

        {% for image in site.static_files %}
            {% if image.path contains '/images/sketchbook/Adventures' %}
               <div>{{image.path | replace: '/images/sketchbook/Adventures/', '' | split: '.' | first | replace:  '-', ' '}}</div>
            {% endif %}
        {% endfor %}

    </div>
    <div class="fl w-100 w-75-l">
        {% for image in site.static_files %}
            {% if image.path contains '/images/sketchbook/' %}
                <div class="fl w-100 w-50-ns ba bw2 b--white">
                    <a 
                        href="{{image.path}}" 
                        class="db aspect-ratio aspect-ratio--1x1 dim"
                        title="{{image.modified_time}}">
                        <span 
                            role="img" 
                            aria-label="Beyoncé"
                            style="background-image:url({{image.path}});"
                            class="lazy bg-center cover aspect-ratio--object">
                        </span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>    
</div>
