<html>
<head>
<title>Garrett Miller / {{ page.title }}</title>
<!--
                                                                                                                 
                hhhhhhh                  hhhhhhh                                lllllll lllllll                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
   ooooooooooo   h::::h hhhhh             h::::h hhhhh           eeeeeeeeeeee    l::::l  l::::l    ooooooooooo   
 oo:::::::::::oo h::::hh:::::hhh          h::::hh:::::hhh      ee::::::::::::ee  l::::l  l::::l  oo:::::::::::oo
o:::::::::::::::oh::::::::::::::hh        h::::::::::::::hh   e::::::eeeee:::::eel::::l  l::::l o:::::::::::::::o
o:::::ooooo:::::oh:::::::hhh::::::h       h:::::::hhh::::::h e::::::e     e:::::el::::l  l::::l o:::::ooooo:::::o
o::::o     o::::oh::::::h   h::::::h      h::::::h   h::::::he:::::::eeeee::::::el::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::::::::::::e l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he::::::eeeeeeeeeee  l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::e           l::::l  l::::l o::::o     o::::o
o:::::ooooo:::::oh:::::h     h:::::h      h:::::h     h:::::he::::::::e         l::::::ll::::::lo:::::ooooo:::::o
o:::::::::::::::oh:::::h     h:::::h      h:::::h     h:::::h e::::::::eeeeeeee l::::::ll::::::lo:::::::::::::::o
 oo:::::::::::oo h:::::h     h:::::h      h:::::h     h:::::h  ee:::::::::::::e l::::::ll::::::l oo:::::::::::oo 
   ooooooooooo   hhhhhhh     hhhhhhh      hhhhhhh     hhhhhhh    eeeeeeeeeeeeee llllllllllllllll   ooooooooooo
                                                                                                     
    
-->
<meta name="description" content="Garrett Miller is a designer, developer, photographer, and all-around decent guy living in Washington D.C. He likes clean code, minimalist design, and low f-stops.">
<meta name="keywords" content="garrett miller,garrett,garret miller, garret, doodle, art, drawing, photography,development,unicorns">

<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/site.css" media="screen">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1"> 
  

</head>
