<html>
<head>
<title>Garrett Miller / {{ page.title }}</title>
<!--
                                                                                                                 
                hhhhhhh                  hhhhhhh                                lllllll lllllll                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
   ooooooooooo   h::::h hhhhh             h::::h hhhhh           eeeeeeeeeeee    l::::l  l::::l    ooooooooooo   
 oo:::::::::::oo h::::hh:::::hhh          h::::hh:::::hhh      ee::::::::::::ee  l::::l  l::::l  oo:::::::::::oo 
o:::::::::::::::oh::::::::::::::hh        h::::::::::::::hh   e::::::eeeee:::::eel::::l  l::::l o:::::::::::::::o
o:::::ooooo:::::oh:::::::hhh::::::h       h:::::::hhh::::::h e::::::e     e:::::el::::l  l::::l o:::::ooooo:::::o
o::::o     o::::oh::::::h   h::::::h      h::::::h   h::::::he:::::::eeeee::::::el::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::::::::::::e l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he::::::eeeeeeeeeee  l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::e           l::::l  l::::l o::::o     o::::o
o:::::ooooo:::::oh:::::h     h:::::h      h:::::h     h:::::he::::::::e         l::::::ll::::::lo:::::ooooo:::::o
o:::::::::::::::oh:::::h     h:::::h      h:::::h     h:::::h e::::::::eeeeeeee l::::::ll::::::lo:::::::::::::::o
 oo:::::::::::oo h:::::h     h:::::h      h:::::h     h:::::h  ee:::::::::::::e l::::::ll::::::l oo:::::::::::oo 
   ooooooooooo   hhhhhhh     hhhhhhh      hhhhhhh     hhhhhhh    eeeeeeeeeeeeee llllllllllllllll   ooooooooooo   
                                                                                                     
    
-->
<meta name="description" content="Garrett Miller is a designer, developer, photographer, and all-around decent guy living in Washington D.C. He likes clean code, minimalist design, and low f-stops.">
<meta name="keywords" content="garrett miller,garrett,garret miller, garret, doodle, art, drawing, photography,development,unicorns">

<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/base.css" media="screen">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="/js/base.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1"> 
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9241197-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>