<html lang="en">

<head>
  <title>
    hey it's garrett!
    {% if page.title.size > 1 %}
    &times; {{ page.title }}
    {% endif %}
  </title>
  <!--
                                                                                                                 
                hhhhhhh                  hhhhhhh                                lllllll lllllll                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
                h:::::h                  h:::::h                                l:::::l l:::::l                  
   ooooooooooo   h::::h hhhhh             h::::h hhhhh           eeeeeeeeeeee    l::::l  l::::l    ooooooooooo   
 oo:::::::::::oo h::::hh:::::hhh          h::::hh:::::hhh      ee::::::::::::ee  l::::l  l::::l  oo:::::::::::oo
o:::::::::::::::oh::::::::::::::hh        h::::::::::::::hh   e::::::eeeee:::::eel::::l  l::::l o:::::::::::::::o
o:::::ooooo:::::oh:::::::hhh::::::h       h:::::::hhh::::::h e::::::e     e:::::el::::l  l::::l o:::::ooooo:::::o
o::::o     o::::oh::::::h   h::::::h      h::::::h   h::::::he:::::::eeeee::::::el::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::::::::::::e l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he::::::eeeeeeeeeee  l::::l  l::::l o::::o     o::::o
o::::o     o::::oh:::::h     h:::::h      h:::::h     h:::::he:::::::e           l::::l  l::::l o::::o     o::::o
o:::::ooooo:::::oh:::::h     h:::::h      h:::::h     h:::::he::::::::e         l::::::ll::::::lo:::::ooooo:::::o
o:::::::::::::::oh:::::h     h:::::h      h:::::h     h:::::h e::::::::eeeeeeee l::::::ll::::::lo:::::::::::::::o
 oo:::::::::::oo h:::::h     h:::::h      h:::::h     h:::::h  ee:::::::::::::e l::::::ll::::::l oo:::::::::::oo 
   ooooooooooo   hhhhhhh     hhhhhhh      hhhhhhh     hhhhhhh    eeeeeeeeeeeeee llllllllllllllll   ooooooooooo
                                                                                                     
    
-->
  <meta
    name="description"
    content="Software guy and occassional illustrator living a very lucky life in California."
  >
  <meta
    name="keywords"
    content="garrett miller,garrett,garret miller, garret, doodle, art, drawing, photography, web development 2.0, web development 3.0, web development 4.0, unicorns"
  >

  <link
    rel="stylesheet"
    type="text/css"
    href="/css/site.css"
    media="screen"
  >
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon-16x16.png"
  >
  <link
    rel="manifest"
    href="/manifest.json"
  >
  <link
    rel="mask-icon"
    href="/safari-pinned-tab.svg"
    color="#5bbad5"
  >
  <meta
    name="theme-color"
    content="#ffffff"
  >

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >


  <meta
    property="og:title"
    content="Garrett Miller"
  >
  <meta
    property="og:description"
    content="Software guy and occasional illustrator living a very lucky life in California."
  >

  {% if page.image %}
  <meta
    property="og:image"
    content="{{site.path}}{{page.image}}"
  >
  <meta
    property="og:url"
    content="{{site.path}}{{page.url}}"
  >
  <meta
    name="twitter:card"
    content="summary_large_image"
  >

  <meta
    property="og:site_name"
    content="Garrett Miller"
  >
  <meta
    name="twitter:image:alt"
    content="{{page.title}}"
  >
  {% endif %}

  <style>
  {% if include.pageColor contains '#' %}
    .bg-{{include.pageColor | remove: '#'}} {
      background-color: {{include.pageColor}};
    }
    .color-{{include.pageColor | remove: '#'}} {
      color: {{include.pageColor}};
    }
    .b--{{include.pageColor | remove: '#'}} {
      border-color: {{include.pageColor}};
    }
    .hover-{{include.pageColor | remove: '#'}}:hover {
      color: {{include.pageColor}};
    }
  {% endif %}
  </style>


</head>