---
layout: portfolio
permalink: sketchbook/
title: Sketchbook
date: 1-1-2017
color: yellow
---
{% assign pageColor =  'yellow' %}



<div class="pt3 pt5-ns">
    {% assign tags =  site.sketchbook | map: 'category' | join: ','  | split: ',' | sort %}
    {% assign previousTag = "" %}
    {% for currentTag in tags %}

        {% if previousTag == "" %}
            {% assign previousTag = currentTag %}
        {% endif %}

        {% if currentTag != previousTag %}
            <section class="cf mb2 mb6-ns bt bw1 b--{{pageColor}}">
                <h3 class="f3 tracked w-100 w-25-l fn fl-l ma0 mt2 ttu">{{ previousTag }}</h3>
                <div class="gallery mt3">
                    {% for piece in site.sketchbook  %}
                        {% if piece.category == previousTag and piece.image %}
                            <a href="/{{piece.permalink}}.html" class="" title="{{piece.title}}">
                                <img
                                    src="{{piece.thumbnail}}"
                                    class="w-100 br3 grow"
                                />
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            {% assign first_in_loop = true %}
        {% endif %}

        {% if forloop.last %}
            <section class="cf mb3 mb6-ns bt bw2 b--{{pageColor}}">
                <h3 class="f3 tracked w-100 w-25-l fn fl-l ma0 mt4 ttu">{{ previousTag }}</h3>
                <div class="gallery mt3">
                    {% for piece in site.sketchbook  %}
                        {% if piece.category == previousTag and piece.image %}
                            <a href="/{{piece.permalink}}.html" class="" title="{{piece.title}}">
                                <img
                                    src="{{piece.thumbnail}}"
                                    class="w-100 br3 grow"
                                />
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% assign previousTag = currentTag %}

    {% endfor %}
</div>