{% include top.html %}

<body 
	id="layout-default" 
	class="
		{% if page.class %}{{ page.class }}{% endif %}
		w-100
        bg-white
		near-black
		bg-keyline
	"
>
	<section
		class="bg-hot-pink"
		style="
			background-color: hotpink;
			background-image: url(/images/site/patterns/geometry.png);
			background-blend-mode: multiply;
			background-repeat: repeat;
		">
		<div
			class="ph3 ph4-ns pv3 ml4-ns bl-ns bw-1-ns"
		>
			<h1 class="f1 f-subheadline-m f-headline-l ma0 mt4-ns">
				Garrett Miller
			</h1>

			<p class="measure f4 f3-m f2-l lh-copy">
				Software guy, designer, photographer, and occasional illustrator living a very lucky life in California. I currently work at Slack.
			</p>
		</div>
	</section>

	<section class="ph3 ph4-ns ml4-ns pt4 pt5-ns">
		<ul class="--arrow f3 f2-ns ma0 pa0 b lh-title pb4 pb5-ns bb bw2">
			<li><a href="/projects" class="hover-hot-pink">Projects</a></li>
			<li><a href="/about" class="hover-blue">About</a></li>
		</ul>
	</section>

	<article class="ph3 ph4-ns pb3 ml4-ns lh-copy">
		{{ content }}
	</article>

	{% include bottom.html %}
	
</body>
</html>
