{% include top.html %}

<body 
	id="layout-default" 
	class="
		{% if page.class %}{{ page.class }}{% endif %}
		w-100
        bg-white
		near-black
		bg-keyline
	"
>
	<header
		id="header"
		style="
			background-color: azure;
			background-image: url(/images/site/patterns/geometry.png);
			background-blend-mode: multiply;
			background-repeat: repeat;
		"
	>
		<div
			class="ph3 pr4-ns pl5-ns pv3 mw9 center"
		>
			<h1 class="f2 f1-m f-headline-l ma0 mt4-ns">
				{{ page.title }}
			</h1>
		</div>
	</header>

	<article class="ph3 pr5-ns pl5-ns pb3 mw9 center lh-copy">
		{{ content }}
	</article>

	{% include bottom.html %}
	
</body>
</html>
